{
    "rules": {
        "comma-dangle": [2, "always-multiline"],
        "indent": [2, 4],
        "linebreak-style": [2, "unix"],
        "no-console": [0],
        "no-unused-vars": [2, {"args": "all", "argsIgnorePattern": "^_", "varsIgnorePattern": "^_"}],
        "quotes": [2, "double"],
        "semi": [2, "always"],
    },
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true,
    },
    "extends": "eslint:recommended"
}
